[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
default-time-zone='+00:00'
transaction-isolation=READ-COMMITTED
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY,NO_ENGINE_SUBSTITUTION
innodb-flush-log-at-trx-commit=1
sync-binlog=1
binlog-expire-logs-seconds=604800
local-infile=OFF
skip-name-resolve=ON
mysqlx=OFF

[client]
default-character-set=utf8mb4
